# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [63]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [23]:
weather_data = pd.read_csv("../WeatherPy/output_data/cities.csv", encoding = "utf-8" )
weather_data = weather_data.rename(columns = {"Longtidue":"Longitude"})
weather_data.head()

,Name,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,Touros,100,BR,1584146424,100,-5.20,-35.46,75.20,10.60
1,Port Alfred,26,ZA,1584146424,97,-33.59,26.89,69.01,4.00
2,Dabakala,26,CI,1584146424,67,8.37,-4.43,81.41,5.93
3,Jumla,23,NP,1584146424,65,29.27,82.18,25.75,7.40
4,Kapaa,90,US,1584146143,64,22.08,-159.32,77.00,12.75

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [66]:
gmaps.configure(api_key=g_key)

# Store 'Lat' and 'Lng' into  locations 
locations = weather_data[["Latitude", "Longitude"]].astype(float)
humidity = weather_data["Humidity"].astype(float)

In [67]:

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [36]:
ideal_weather = weather_data.loc[(weather_data['Max Temp'] < 90)]
ideal_weather = ideal_weather.loc[(weather_data['Max Temp'] > 70)]
ideal_weather = ideal_weather.loc[(weather_data['Wind Speed'] < 20)]
ideal_weather = ideal_weather.loc[weather_data['Cloudiness'] < 25 ]
 
hotel_df = ideal_weather.dropna().reset_index(drop=True)
print(len(hotel_df))

60

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [37]:
hotel_df["Hotel Name"] = ""
hotel_df.head()

,Name,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed,Hotel Name
0,Cidreira,0,BR,1584146424,90,-30.18,-50.21,76.08,11.65,
1,Hilton Head,1,US,1584146370,77,32.22,-80.75,73.99,5.82,
2,Kavieng,12,PG,1584146194,77,-2.57,150.80,84.24,12.10,
3,Mar del Plata,0,AR,1584146181,68,-38.00,-57.56,77.00,10.29,
4,Lázaro Cárdenas,0,MX,1584146429,71,17.96,-102.20,79.93,7.23,

In [58]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

print(locations[0])
params = {
        "radius": 5000,
        "key": g_key,
        "keyword" : "hotel"
    }
for index, row in hotel_df.iterrows():
    lat = row['Latitude']
    lng = row['Longitude']
    
    params['location'] = f"{lat},{lng}"
    
    response = requests.get(url,params).json()
    
    try:
        print(f"Found the hotel {response['results'][0]['name']}. Adding to list")
        hotel_df.loc[index, "Hotel Name"] =(response['results'][0]['name'])
    except:
        print("Hotel not found")
        hotel_df.loc[index,"Hotel Name"] = "None Found"
hotel_df

[-30.18, -50.21]
Found the hotel Pond Country Club. Adding to list
Found the hotel Days Inn by Wyndham Hilton Head. Adding to list
Found the hotel Nusa Island Retreat. Adding to list
Found the hotel Hotel Dion. Adding to list
Found the hotel City Express Lázaro Cárdenas. Adding to list
Hotel not found
Found the hotel Hotel da Canoa. Adding to list
Hotel not found
Found the hotel Les Embruns Du Baril. Adding to list
Hotel not found
Found the hotel Grand Isla Navidad Resort. Adding to list
Found the hotel Owls Nest Motel. Adding to list
Found the hotel The Prestige Hotel Penang. Adding to list
Found the hotel Hospedaje Claudia. Adding to list
Found the hotel Hotel Poseidon. Adding to list
Found the hotel Sails in the Desert. Adding to list
Found the hotel Sails Port Macquarie by Rydges. Adding to list
Found the hotel Polana Serena Hotel. Adding to list
Found the hotel Silversands Grenada. Adding to list
Found the hotel Banana Resort Sadao. Adding to list
Found the hotel Premier Hotels & Resorts. Adding to list
Found the hotel Emerald Star Hotel. Adding to list
Found the hotel Baths Motel. Adding to list
Hotel not found
Found the hotel Chico's Ranch. Adding to list
Found the hotel The Bungalow Hambantota. Adding to list
Found the hotel GHL Relax Hotel Sunrise. Adding to list
Found the hotel Ramada Hotel & Suites by Wyndham Ballina Byron. Adding to list
Found the hotel Flamingo Vallarta Hotel & Marina. Adding to list
Found the hotel Sheraton Lima Hotel & Convention Center. Adding to list
Found the hotel The Esplanade Hotel. Adding to list
Found the hotel Hyatt Regency Jacksonville Riverfront. Adding to list
Found the hotel San Jose Pachul. Adding to list
Found the hotel Abacus Motel. Adding to list
Found the hotel Radisson Blu Resort Temple Bay Mamallapuram. Adding to list
Found the hotel The Pade Hotel. Adding to list
Found the hotel Linderos B&B. Adding to list
Hotel not found
Found the hotel Sri laxmi lodge. Adding to list
Found the hotel OYO 2598 Hotel Chocolate. Adding to list
Found the hotel Pousada Kactus. Adding to list
Hotel not found
Hotel not found
Found the hotel Hotel León. Adding to list
Found the hotel Hotel GALAXY. Adding to list
Hotel not found
Hotel not found
Found the hotel Watsons Cottage. Adding to list
Found the hotel Kamaneahn Hotel Inc. Adding to list
Found the hotel Los Inmigrantes Hotel y Resto Bar. Adding to list
Found the hotel Frontier Hotel. Adding to list
Found the hotel BISMI HOTEL. Adding to list
Found the hotel Turis Firper Hotel. Adding to list
Found the hotel Abaco Beach Resort. Adding to list
Hotel not found
Found the hotel Tucan Residence. Adding to list
Found the hotel Seeadler Bay Hotel. Adding to list
Found the hotel Hotel Morada do Mar. Adding to list
Found the hotel Hôtel Kasa Afrikana. Adding to list
Found the hotel Zemi Beach House, LXR Hotels & Resorts. Adding to list

,Name,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed,Hotel Name
0,Cidreira,0,BR,1584146424,90,-30.18,-50.21,76.08,11.65,Pond Country Club
1,Hilton Head,1,US,1584146370,77,32.22,-80.75,73.99,5.82,Days Inn by Wyndham Hilton Head
2,Kavieng,12,PG,1584146194,77,-2.57,150.80,84.24,12.10,Nusa Island Retreat
3,Mar del Plata,0,AR,1584146181,68,-38.00,-57.56,77.00,10.29,Hotel Dion
4,Lázaro Cárdenas,0,MX,1584146429,71,17.96,-102.20,79.93,7.23,City Express Lázaro Cárdenas
5,Latung,4,PH,1584146429,70,5.50,120.88,81.10,3.56,None Found
6,Arraial do Cabo,0,BR,1584146432,94,-22.97,-42.03,77.00,5.82,Hotel da Canoa
7,Tessalit,0,ML,1584146435,15,20.20,1.01,71.29,11.14,None Found
8,Saint-Philippe,20,RE,1584146435,88,-21.36,55.77,77.00,16.11,Les Embruns Du Baril
9,Tautira,20,PF,1584146210,62,-17.73,-149.15,89.60,8.05,None Found
10,San Patricio,20,MX,1584146439,83,19.22,-104.70,80.60,5.82,Grand Isla Navidad Resort
11,Piopio,0,NZ,1584146444,38,-38.47,175.02,77.00,4.00,Owls Nest Motel
12,George Town,20,MY,1584146444,88,5.41,100.34,82.40,2.24,The Prestige Hotel Penang
13,Bonanza,0,NI,1584146444,67,14.03,-84.59,74.98,2.13,Hospedaje Claudia
14,Manta,20,EC,1584146445,78,-0.95,-80.73,80.60,6.93,Hotel Poseidon
15,Yulara,0,AU,1584146445,20,-25.24,130.99,87.80,19.46,Sails in the Desert
16,Port Macquarie,3,AU,1584146445,64,-31.43,152.92,80.01,9.17,Sails Port Macquarie by Rydges
17,Maputo,20,MZ,1584146445,83,-25.97,32.59,78.01,4.70,Polana Serena Hotel
18,St. George's,20,GD,1584146448,78,12.06,-61.75,78.80,5.82,Silversands Grenada
19,Sadao,20,TH,1584146449,94,6.64,100.42,78.80,2.24,Banana Resort Sadao
20,East London,2,ZA,1584146450,77,-33.02,27.91,75.34,1.25,Premier Hotels & Resorts
21,Emerald,0,AU,1584146451,57,-23.53,148.17,80.01,16.11,Emerald Star Hotel
22,Moree,0,AU,1584146452,53,-29.47,149.85,75.20,4.70,Baths Motel
23,Barra Patuca,0,HN,1584146452,72,15.80,-84.28,79.79,12.50,None Found
24,El Salvador,20,SV,1584146454,70,13.83,-88.92,84.20,4.70,Chico's Ranch
25,Hambantota,20,LK,1584146454,100,6.12,81.12,71.60,5.82,The Bungalow Hambantota
26,San Andrés,20,CO,1584146455,74,12.58,-81.70,80.60,9.17,GHL Relax Hotel Sunrise
27,Ballina,24,AU,1584146209,57,-28.87,153.57,77.00,12.75,Ramada Hotel & Suites by Wyndham Ballina Byron
28,Ixtapa,5,MX,1584146457,65,20.70,-105.20,78.80,9.17,Flamingo Vallarta Hotel & Marina
29,Lima,1,PE,1584146444,73,-12.04,-77.03,77.00,14.99,Sheraton Lima Hotel & Convention Center
30,Port Hedland,10,AU,1584146167,70,-20.32,118.57,84.20,11.41,The Esplanade Hotel
31,Jacksonville,1,US,1584146343,57,30.33,-81.66,77.00,8.43,Hyatt Regency Jacksonville Riverfront
32,Tetiz,20,MX,1584146461,48,20.97,-89.93,86.00,14.99,San Jose Pachul
33,Mount Isa,0,AU,1584146462,32,-20.73,139.50,84.20,13.87,Abacus Motel
34,Mahabalipuram,20,IN,1584146463,88,12.63,80.17,79.00,2.24,Radisson Blu Resort Temple Bay Mamallapuram
35,Banda Aceh,0,ID,1584146464,93,5.56,95.32,72.64,5.06,The Pade Hotel
36,Buin,0,CL,1584146465,44,-33.73,-70.75,75.20,14.99,Linderos B&B
37,Waipawa,0,NZ,1584146468,49,-41.41,175.52,71.60,12.75,None Found
38,Narasannapeta,0,IN,1584146469,88,18.42,84.05,71.28,0.72,Sri laxmi lodge
39,Langsa,0,ID,1584146336,90,4.47,97.97,75.88,1.72,OYO 2598 Hotel Chocolate
40,São João da Barra,9,BR,1584146471,94,-21.64,-41.05,77.00,7.87,Pousada Kactus
41,Taoudenni,0,ML,1584146293,11,22.68,-3.98,71.15,6.46,None Found
42,Saint-Louis,0,SN,1584146471,22,16.33,-15.00,80.60,9.31,None Found
43,Necochea,1,AR,1584146474,63,-38.55,-58.74,82.00,17.00,Hotel León
44,Dosso,0,NE,1584146474,11,13.05,3.19,77.18,11.54,Hotel GALAXY
45,Wawa,0,NG,1584146475,40,9.90,4.42,84.74,7.90,None Found
46,San Mateo del Mar,0,MX,1584146476,77,16.20,-95.00,81.81,13.33,None Found
47,Masterton,0,NZ,1584146387,66,-40.96,175.66,73.99,3.00,Watsons Cottage
48,Buchanan,20,LR,1584146477,94,5.88,-10.05,80.60,3.65,Kamaneahn Hotel Inc
49,Bell Ville,0,AR,1584146477,39,-32.63,-62.69,84.92,2.53,Los Inmigrantes Hotel y Resto Bar
50,Rivera,1,UY,1584146478,31,-30.91,-55.55,83.21,5.59,Frontier Hotel
51,Kavaratti,12,IN,1584146481,80,10.57,72.64,80.73,15.99,BISMI HOTEL
52,Chui,0,UY,1584146481,84,-33.70,-53.46,70.63,12.50,Turis Firper Hotel
53,Marsh Harbour,9,BS,1584146482,83,26.54,-77.06,73.40,15.88,Abaco Beach Resort
54,Merritt Island,1,US,1584146483,73,28.54,-80.67,77.00,5.82,None Found
55,Nieuw Amsterdam,20,SR,1584146485,78,5.88,-55.08,82.40,6.93,Tucan Residence
56,Lorengau,24,PG,1584146485,79,-2.02,147.27,83.41,13.20,Seeadler Bay Hotel
57,Porto Belo,20,BR,1584146486,88,-27.16,-48.55,78.01,8.05,Hotel Morada do Mar
58,Bubaque,0,GW,1584146488,63,11.28,-15.83,82.56,12.97,Hôtel Kasa Afrikana
59,The Valley,0,AI,1584146489,80,18.22,-63.06,78.01,11.97,"Zemi Beach House, LXR Hotels & Resorts"

In [70]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations_h = hotel_df[["Latitude", "Longitude"]]

In [71]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.symbol_layer(
    locations_h, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=[hotel_info]

fig = gmaps.figure()
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)
    
# Display Map
fig

SyntaxError: invalid syntax (<ipython-input-71-8d40bf49fd04>, line 7)